@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";
@theme {
  /* aparecerá la clase `font-bebas` */
  --font-bebas: "Bebas Neue", sans-serif;

  --font-oswald: "Oswald", sans-serif;

  --font-ibm: "IBM plex sans", sans-serif;

  --font-cinzel: "Cinzel Decorative", serif;

  --font-sans: var(--font-oswald);
}
